@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

html {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-style: italic;
}

p {
    font-size: 1em;
    word-spacing: 0.12em;
    line-height: 1.3em;
}




@media screen and (min-width: 900px) {
    
    #divide {
        display: flex;
    }
    
    .main {
        display: flex;
        height: 100vh;
    }

    #left {
        width: 40vw;
        background-image: linear-gradient(0deg, #141e30 0%, #243b55 100%);
        color: #ffffff;
        display: flex;
        flex-direction: column;
    }
    
    #right {
        display: flex;
        flex-direction: column;
        width: 60vw;
        background-image: linear-gradient(0deg, #43cea2 0%, #185a9d 100%);
    }
}

@media screen and (max-width: 899px) {

    #divide {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    #left {
        background-image: linear-gradient(0deg, #141e30 0%, #243b55 100%);
        color: #ffffff;
        display: flex;
        flex-direction: column;
    }
    
    #right {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(0deg, #43cea2 0%, #185a9d 100%);
    }
}

#overmij {
    padding: 1em 1em 0.5em 1em;
    margin-bottom: 0em;
}

#icon-holder {
    display: flex;
    justify-content: center;
}

.icons {
    padding: 0.5em 0.6em 0.5em 0.6em;
    width: 2.5em;
    height: 2.5em;
    fill: #ffffff;
}


#wiebenik {
    max-height: 100%;
    margin: 3em;
    margin-top: 2em;
}


#portfolio {
    text-align: center;
    font-style: italic;
    padding: 1em;
    margin-bottom: 0;
}

#projects {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 2em;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 2em;
    padding-bottom: 1em;
    margin-right: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#projects::-webkit-scrollbar {
    display: none;
}

.frame {
    max-height: 20em;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 1em;
}

.semibutton {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 12px;
    cursor: pointer;
}


.scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 1em;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.p-overflow {
    padding: 0.6em;
    scrollbar-width: none;
}

.p-overflow::-webkit-scrollbar {
    display: none;
}